$theme-colors: (
  'primary': #093ea8,
  'secondary': #3bd7ec,
  'success': #22e11c,
  'info': #d9ff50,
  'warning': #ffbe0b,
  'danger': #ff0000,
  'light': #195496,
  'dark': #be1414,
);

$color: (#093ea8);
$background-color: (#093ea8);

@import 'bootstrap/scss/bootstrap.scss';
